<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>3.10 | <a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> and <a href="https://swcarpentry.github.io/git-novice">Version Control with Git</a></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td>Introducing the Shell, Navigating Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td>Working with Files and Directories, Pipes and Filters</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td>Automated Version Control, Setting Up Git, Creating a Repository, Tracking Changes, Exploring History</td>       <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>10.10 | <a href="https://swcarpentry.github.io/git-novice">Version Control with Git</a> and <a href="https://librarycarpentry.github.io/lc-r/">Introduction to R</a></h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td>Remotes in GitHub, Collaborating, Conflicts</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td>Before we Start, Introduction to R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td>Introduction to R</td>       <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>17.10 | <a href="https://librarycarpentry.github.io/lc-r/">Introduction to R</a></h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td>Starting with Data</td>      <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td>Data cleaning & transformation with dplyr</td>       <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td>Data Visualization with ggplot2</td>         <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>24.10 | <a href="https://swcarpentry.github.io/r-novice-gapminder">R for Reproducible Scientific Analysis</a>, Part 2</h3>
    <table class="table table-striped">
            <tr>               <!-- row 2   -->
        <td>9:00 - 10:20</td>        <!-- time    -->
        <td>Control Flow</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:20 - 10:40</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:40 - 12:00</td>       <!-- time    -->
        <td>Vectorization, Functions Explained</td>       <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00 - 12:20</td>       <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:20 - 13:50</td>       <!-- time    -->
        <td>Writing Data, Writing Good Software</td>       <!-- content -->
      </tr>
    </table>
  </div>
</div>
